[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "autocodebook"]
	path = autocodebook
	url = https://github.com/patriciafortesm/autocodebook
